body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto; 
}

.logo {
    width: 1160px;
    height: 180px;
    display: block;
}

.navbar {
    display: flex;
    text-align: center;
    column-gap: 100px;
}

main {
    background-image: url(assets/barbells.jpg);
}
.homepageMain {
    display: flex;
    column-gap: 100px;
}

button {
box-sizing: border-box;
width: 200px;
height: 50px;
background: rgb(255, 234, 0);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 200px;
font-family: 'Poppins', sans-serif;
font-size: larger;
font-weight: bold;
}

h1 {
width: 400px;
height: 70px;
left: -32px;
top: 519px;
background: lightgray;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 200px 200px 0px;
text-align: center;
justify-content: center;
font-size: 40px;
}

h3 {
    font-size: larger;
    font-weight: bolder;
    text-decoration:underline ;
}

.introParagraph{
    background-color: rgba(255, 234, 0);
    border-radius: 10px;
}

.introParagraph p{
    margin-left: 10px;
    margin-right: 10px; 
}

.introParagraph h3{
    margin-left: 10px;
    margin-right: 10px; 
}

.dailyPlanHeader{
    display: flex;
    column-gap: 50px;
}

.dailyPlanHeader h2{
    text-decoration: underline;
}

.dailyPlanHeader p {
    margin-right: 250px;
    justify-content: center;
    margin-top: 30px;
}

.workoutPlan {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

#fourDay.workoutPlan{
    column-gap: 20px;
    display:flex;
    justify-content: center;
}

.indvWorkoutDay{
    background-color: rgba(255, 234, 0);
    border-radius: 10px;
    max-width: 500px;

}

.indvWorkoutFiveDay{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.indvWorkoutDayTitle {
    text-align: center;
}

.workoutBreakdown {
    display: flex;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

.video-container,.description-container {
    flex: 1;
    align-items: center;
}

.video-container video {
    width: 100%; /* Adjust the width as needed */
    max-width: 100%;
    height: 50%; /* Set height to auto to maintain the video's aspect ratio */
}

#videoElement {
    display: flex;
    width:50%; 
    max-width: 100%;
    height: auto;
}

#descriptionList {
    list-style-type: none;
    padding: 0;
}

#descriptionList li {
    margin-bottom: 10px;
}

#workoutModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width if desired */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
}

.modal-content {
    width: 80%; /* Adjust the width as needed */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.closeExerciseModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#completionModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
}

#completionModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
}

  /* Styles for iPhone 14*/
@media only screen and (max-width: 375px) {
    body {
      font-size: 8px; 
    }
  }
  
  /* Styles for MacBook Pro 13-inch */
  @media only screen and (min-width: 1024px) {
  }


  /*Have Title Text Slide In*/
  .slide-in-text {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards; /* 1s duration, forwards to keep the final state */
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
